---
//
---

<div class="w-screen relative">
  <img
    src="/bar.webp"
    decoding="async"
    loading="lazy"
    class="w-full h-80 object-cover brightness-50"
    alt="Imagen del bar"
  />

  <div class="absolute inset-x-0 top-0 h-80 flex items-center justify-center overflow-hidden">
    <h1 class="text-white text-8xl font-bold text-center">BAR PACO</h1>
  </div>
</div>
