---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import { Button } from "../components/ui/button.tsx";
import AccordionDemo from "../components/AccordionDemo.tsx"
---

<div>
  <main class="flex flex-col">
	  <AccordionDemo client:load/>  
  </main>
</div>